version: "3.7"
services:
    nginx:
      build:
        context: ./nginx
        dockerfile: Dockerfile
      ports:
          - target: 443
            published: 443
            protocol: tcp
          - target: 80
            published: 8080
            protocol: tcp
      volumes:
        - /da/tls:/etc/nginx/tls
        - ./nginx/custom.conf:/etc/nginx/conf.d/default.conf
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf
        - ./nginx/nginx_log:/var/log/nginx
    backend:
      init: true
      build:
        context: ./backend
        dockerfile: Dockerfile
      volumes:
        - ../volume/backend/file:/backend/file
    frontend:
      build:
        context: ./frontend
        dockerfile: Dockerfile
    mysql:
      build:
        context: ./mysql
        dockerfile: Dockerfile
      volumes:
        - ../volume/mysql:/var/lib/mysql
        - ./mysql/mysql_log:/var/log/mysql
        - ./mysql/my.cnf:/etc/mysql/my.cnf
      environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: 1
        MYSQL_DATABASE: "app"
        MYSQL_USER: "backend"
        MYSQL_PASSWORD : "backend"
